.education_card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.education_card:hover + .education_border {
  border-color: #a9a7f9;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}
.card_img {
  width: 275px;
  height: 275px;

  border-radius: 50%;
  padding: 10px;
  border: 1px solid #0a0a0a;
  background-color: lightblue;
  background: transparent;
  box-shadow: 5px 5px 5px #d9dbdf;
  flex: auto;
}
.school_logo {
  height: auto;
  width: auto;
  background-color: #000000;
}
.card_body {
  background-color: #f7e6f7;
  border-bottom: 1px solid #d9dbdf;
  border-left: 1px solid #d9dbdf;
  border-right: 1px solid #d9dbdf;
  border-radius: 7px;
  width: 90%;
  margin: 10px;
  box-shadow: 5px 5px 5px #d9dbdf;
  padding: 10px;
  /* text-align: center; */
}
.education_text_details {
  text-align: center;
}
.education_text_school {
  margin: 2px;
  font-size: 30px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 40px;
  width: 80%;
}

.education_text_subHeader {
  color: black;
  font-weight: 700;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.8rem;
  line-height: normal;
}

.education_text_duration {
  color: #000000;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.5rem;
}

.education_text_desc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.education_text_bullets > ul {
  margin-top: 0.5rem;
}

@media (max-width: 1380px) {
  .education {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .education_border {
    width: 90%;
  }
  .education_text_subHeader {
    padding-top: 0.5rem;
    font-size: 16px;
  }
  .education_text_school {
    font-size: 20px;
    height: 25px;
  }
  .education_text_duration {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .education_card {
    flex-direction: column;
  }

  .card_img {
    width: 200px;
  }

  .card_body {
    width: 100%;
  }
  .education {
    text-align: center;
  }
  .education_right {
    max-width: 100%;
  }
  .education_border {
    width: 100%;
  }
  .education_roundedimg {
    margin-top: 10px;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .education_text_bullets > ul {
    max-width: 80%;
    margin: auto;
  }
}
