#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #561a8b;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 25px;
  font-size: 20px;
}

#topButton:hover {
  background-color: #000;
  transition: all ease-in-out 0.2s;
}
