.education_heading {
  font-size: 56px;
  font-weight: 400;
}

.education_section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 2rem;
}

.education_section > * {
  flex: 1;
  margin-bottom: 30px;
}

.education_card_container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media (max-width: 1380px) {
  .education_card_container {
    padding-top: 0px;
  }
  .education_heading {
    font-size: 40px;
  }
  .education_text_subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education_card_container {
    padding-top: 0px;
  }
  .education_heading {
    font-size: 30px;
    text-align: center;
  }
  .education_text_subtitle {
    font-size: 16px;
  }
}
