.header {
  background-color: #fff;
  max-width: 100%;
  padding: 15px 20px;
  margin: 0px auto;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
}
.header li a:hover,
.header .menu_btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  flex: none;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}
.header .logo_name {
  font-family: "Agustina Regular";
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 10px;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header .menu_icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu_icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu_icon .navicon:before,
.header .menu_icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  
}
.header .menu_icon .navicon:before {
  top: 5px;
}

.header .menu_icon .navicon:after {
  top: -5px;
}
.header .menu_btn {
  display: none;
}

.header .menu_btn:checked ~ .menu {
  max-height: 486px;
}
.header .menu_btn:checked ~ .menu_icon .navicon {
  background: transparent;
}

.header .menu_btn:checked ~ .menu_icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu_btn:checked ~ .menu_icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before,
.header .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 48em) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header li {
    float: right;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu_icon {
    display: none;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 12px;
  }
}
