.education {
  display: flex;
  flex-direction: row;
}

.education:hover + .education_border {
  border-color: #a9a7f9;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education_border {
  height: 30px;
  width: 80%;
  border-top: 2px solid rgba(211, 211, 211, 0.397);
  margin-bottom: 20px;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education_head {
  display: flex;
  flex-direction: row;
}

.education_text_school {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 27px;
}

.education_roundedimg {
  object-fit: cover;
  margin-right: 2rem;
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.education_right {
  max-width: 70%;
}

.education_text_subHeader {
  color: black;
  font-weight: 700;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.8rem;
  line-height: normal;
}

.education_text_duration {
  color: #000000;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.5rem;
}

.education_text_desc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.education_text_bullets > ul {
  margin-top: 0.5rem;
}

/* Media Query */

@media (max-width: 1380px) {
  .education {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .education_right {
    max-width: 90%;
  }
  .education_border {
    width: 90%;
  }
  .education_text_subHeader {
    padding-top: 0.5rem;
    font-size: 16px;
  }
  .education_text_school {
    font-size: 20px;
    height: 23px;
  }
  .education_text_duration {
    font-size: 16px;
  }
  .education_roundedimg {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .education {
    text-align: center;
  }
  .education_right {
    max-width: 100%;
  }
  .education_border {
    width: 100%;
  }
  .education_roundedimg {
    margin-top: 10px;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .education_text_bullets > ul {
    max-width: 80%;
    margin: auto;
  }
}
