.card_image {
  max-width: 100%;
  height: auto;
  width: 250px;
}
.card_title {
  color: #000000;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card_subtitle {
  color: #666666;
  font-size: 17px;
  line-height: 1.5rem;
}
.project_card {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 230, 247);
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
  justify-content: center;
}
.project_card_light {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project_card_dark {
  box-shadow: 0px 10px 30px -15px #d9dbdf;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project_detail {
  text-align: center;
}
.project_card_light:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}
.project_card_dark:hover {
  box-shadow: #d9dbdf 0px 20px 30px -10px;
}
.project_image {
  position: relative;
  height: 250px;
  overflow: hidden;
  text-align: center;
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.project_card_footer span.project_tag {
  background: #55198b;
  color: #f5f2f4;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .project_subtitle {
    font-size: 16px;
    text-align: center;
  }
}
